.feedback{

    margin-top: 24px;
    padding-bottom: 160px;

    &__wrapper{

        flex-direction: column;

        &_title{
            text-transform: uppercase;
            margin: 0px;
            padding-top: 24px;
            font-weight: 200;
            font-size: 146px;
            line-height: 120px;
            color: #FFE4A2;
        }

        &_devider{
            margin-top: 40px;
            width: 100%;
            height: 1px;
            background-color: #FFE4A2;
        }

        &__form{

            padding: 40px 0px;
            width: 100%;
            flex-direction: row;

            &__social{

                margin-left: 140px;
                flex-direction: row;
                align-items: center;
                height: 40px;
    
                &_img{
    
                }
    
                &_devider{
                    width: 2px;
                    height: 50%;
                    background-color: #FFE4A2;
                    margin: 0px 4px;
                }
            }

            &__sendForm{

                // margin-left: 60px;
                width: 100%;
                height: 255px;
                border-radius: 50px;
                justify-content: center;
                align-items: center;

                &_loading{
                    margin: 0 auto;
                    border: 16px solid #f3f3f3;
                    border-radius: 50%;
                    border-top: 16px solid #C99F62;
                    width: 120px;
                    height: 120px;
                    -webkit-animation: spin 2s linear infinite;
                    animation: spin 2s linear infinite;
                }
            
                @-webkit-keyframes spin {
                    0% { -webkit-transform: rotate(0deg); }
                    100% { -webkit-transform: rotate(360deg); }
                }
                
                @keyframes spin {
                    0% { transform: rotate(0deg); }
                    100% { transform: rotate(360deg); }
                }
                
            }

            &__fillData{
                margin-left: 60px;
                flex-direction: column;
                width: 100%;

                input, textarea{
                    border: 1px solid #FFE4A2;
                    background-color: inherit;
                    width: 100%;
                    height: 31px;
                    font-weight: 200;
                    font-size: 12px;
                    line-height: 24px;
                    cursor: pointer;
                    letter-spacing: 0.025em;
                    color: #FFE4A2;
                    margin-top: 15px;
                    padding: 0PX 16px;
                    caret-color: #FFE4A2;
                    resize: none;
                }

                input:focus, textarea:focus{
                    outline-width: 0;
                }

                &__personal{
                    justify-content: space-between;

                    input.feedback__wrapper__form__fillData__personal_name{
                        margin-top: 0px;
                        width: 48%;
                    }

                    input.feedback__wrapper__form__fillData__personal_email{
                        margin-top: 0px;
                        width: 48%;
                    }
                }

                textarea.feedback__wrapper__form__fillData_comment{
                    height: 164px;
                    padding-top: 12px;
                }


                &_btn{
                    margin-top: 16px;
                    background-color: #960040;
                    height: 32px;
                    cursor: pointer;
                    font-weight: 200;
                    font-size: 12px;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #FFE4A2;
                    width: 100%;
                }

                &_btn:disabled{
                    cursor: default;
                    background-color: grey;
                }

                &_error{
                    margin-top: 24px;
                    color: red;
                }

            }


            &__success{
                width: 100%;
                height: 200px;
                background-color: #FFE4A2;
                margin-left: 24px;
                flex-direction: column;
                align-items: center;
                padding: 40px;
                justify-content: space-between;

                &_title{
                    color: black;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 24px;
                }

                &_btn{
                    height: 48px;
                    background-color: #960040;
                    cursor: pointer;
                    font-weight: 200;
                    font-size: 14px;
                    line-height: 24px;
                    color: #FFE4A2;
                    padding: 0px 40px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .feedback{

        margin-top: 0px;
        padding-bottom: 64px;
    
        &__wrapper{
    
            &_title{
                font-weight: 400;
                font-size: 36px;
                line-height: 36px;
                letter-spacing: 0.085em;
            }
    
            &_devider{
                margin-top: 24px;
                width: 100%;
                height: 1px;
                background-color: #FFE4A2;
            }
    
            &__form{

                padding: 40px 0px;
                width: 100%;
                flex-direction: column;
                z-index: 1;

                &__social{

                    display: none;
                }

                &__fillData{
                    margin-left: 0px;
                    flex-direction: column;
                    width: 100%;

                    input, textarea{
                        border: 1px solid #FFE4A2;
                        background-color: inherit;
                        width: 100%;
                        height: 31px;
                        font-weight: 200;
                        font-size: 12px;
                        line-height: 24px;
                        cursor: pointer;
                        letter-spacing: 0.025em;
                        color: #FFE4A2;
                        margin-top: 15px;
                        padding: 0PX 16px;
                        caret-color: #FFE4A2;
                        resize: none;
                    }

                    &_btn{
                        margin-top: 16px;
                        background-color: #960040;
                        height: 32px;
                        cursor: pointer;
                        font-weight: 200;
                        font-size: 12px;
                        line-height: 24px;
                        text-transform: uppercase;
                        color: #FFE4A2;
                        width: 100%;
                    }

                    &_btn:disabled{
                        cursor: default;
                        background-color: grey;
                    }

                    &_error{
                        margin-top: 24px;
                        color: red;
                    }

                }


                &__success{
                    margin-left: 0px;

                    &_title{
                        text-align: center;
                    }

                    &_btn{
                        height: 64px;
                        font-size: 16px;
                        padding: 0px 24px;
                    }
                }
            }
        }
    }
}